$base-color-300: #D8CFAF;
$base-color-500: #B7A76C;
$base-color-300: #7F713E;

$primary-300: #E1A066;
$primary-500: #BC6C25;
$primary-800: #663B14;

$accent-300: #1D317C;
$accent-500: #111D4A;
$accent-800: #0A1029;

$grey-100: #D0D6D8;
$grey-300: #98A5AA;
$grey-500: #637378;
$grey-600: #4C585C;
$grey-700: #363E41;
$grey-900: #1D2223;

$test: 10px bold;
